<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заброньовані тури</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">OpenWorldTour</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Головна</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/booked_tours">Заброньовані тури</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add_tour">Додати тур</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h2>Заброньовані тури</h2>
    <table class="table" id="bookedToursTable">
        <thead>
        <tr>
            <th>Тур</th>
            <th>Прізвище</th>
            <th>Ім'я</th>
            <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script>
    fetch('/api/booked_tours')
        .then(response => response.json())
        .then(data => {
            let tableBody = document.getElementById('bookedToursTable').getElementsByTagName('tbody')[0];

            data.forEach(booked_tour => {
                let row = tableBody.insertRow(-1);
                let cell1 = row.insertCell(0);
                let cell2 = row.insertCell(1);
                let cell3 = row.insertCell(2);
                let cell4 = row.insertCell(3);

                cell1.innerHTML = booked_tour.tour_title;
                cell2.innerHTML = booked_tour.surname;
                cell3.innerHTML = booked_tour.name;
                cell4.innerHTML = booked_tour.date;
            });
        });
</script>
</body>
</html>
